<div class="row">
	<!--<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">-->
		<!--<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> My Dashboard</span></h1>-->
	<!--</div>-->
	<!--To the right of My Dashboard there were small widgets that I commented out here
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">-->
		<!--<ul id="sparks" class="">-->
			<!--<li class="sparks-info">-->
				<!--<h5> My Income <span class="txt-color-blue">$47,171</span></h5>-->
				<!--<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">-->
					<!--1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471-->
				<!--</div>-->
			<!--</li>-->
			<!--<li class="sparks-info">-->
				<!--<h5> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up"></i>&nbsp;45%</span></h5>-->
				<!--<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">-->
					<!--110,150,300,130,400,240,220,310,220,300, 270, 210-->
				<!--</div>-->
			<!--</li>-->
			<!--<li class="sparks-info">-->
				<!--<h5> Site Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>-->
				<!--<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">-->
					<!--110,150,300,130,400,240,220,310,220,300, 270, 210-->
				<!--</div>-->
			<!--</li>-->
		<!--</ul>-->
	<!--</div>-->
</div>
<!-- widget grid -->
<section id="widget-grid" class="" >
<div ng-controller="GraphsController">
<div class="modal fade" id="incidentDetailsModal">
    <div class="modal-dialog">
        <div class="modal-content" ng-repeat="inc in incident">
            <div class="modal-header">
                {{ inc.Description }}
            </div>
            <div class="modal-body">
                Reported By: <label>{{ inc.ReportedBy }}</label><br />
                Details: <label>{{ inc.Details }}</label>
            </div>
        </div>
    </div>
</div>

	<!-- row -->
	<div class="row">
		<article class="col-sm-12">
			<!-- new widget -->
			<div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
					<h2>Live Feeds</h2>

					<ul class="nav nav-tabs pull-right in" id="myTab">
                        <li>
                        <div class="btn-group hidden-phone ">
                            <span class="show-stat-buttons"> <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <a href="javascript:void(0);" class="btn btn-default btn-block hidden-xs">Generate PDF</a> </span> </span>
                        </div>
                        </li>
						<li class="active">
							<a data-toggle="tab" href="#s1"><i class="fa fa-clock-o"></i> <span class="hidden-mobile hidden-tablet">HSE</span></a>
						</li>

						<li>
							<a data-toggle="tab" href="#s2"><i class="fa fa-check"></i> <span class="hidden-mobile hidden-tablet">SQ</span></a>
						</li>
                        <!--<li>-->
                            <!--<a data-toggle="tab" href="#s3"><i class="fa fa-facebook"></i> <span class="hidden-mobile hidden-tablet">TEST</span></a>-->
                        <!--</li>-->
					</ul>

				</header>

				<!-- widget div-->
				<div class="no-padding" >

					<div class="widget-body">
						<!-- content -->
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
								<div class="row no-space">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div id="hse-chart" class="chart-large txt-color-blue"></div>

									</div>
								</div>

								<div class="show-stat-microcharts">
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

										<div class="easy-pie-chart txt-color-orangeDark" data-percent="33" data-pie-size="50">
											<span class="percent percent-sign">35</span>
										</div>
										<span class="easy-pie-title"> Closure Rate <i class="fa fa-caret-up icon-color-bad"></i> </span>
										<ul class="smaller-stat hidden-sm pull-right">
											<li>
												<span class="label bg-color-greenLight"><i class="fa fa-caret-up"></i> 97%</span>
											</li>
											<li>
												<span class="label bg-color-blueLight"><i class="fa fa-caret-down"></i> 44%</span>
											</li>
										</ul>
										<!--<div class="sparkline txt-color-greenLight hidden-sm hidden-md pull-right" data-sparkline-type="line" data-sparkline-height="33px" data-sparkline-width="70px" data-fill-color="transparent">-->
											<!--130, 187, 250, 257, 200, 210, 300, 270, 363, 247, 270, 363, 247-->
										<!--</div>-->
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
										<div class="easy-pie-chart txt-color-greenLight" data-percent="78.9" data-pie-size="50">
											<span class="percent percent-sign">78.9 </span>
										</div>
										<span class="easy-pie-title"> Utilization <i class="fa fa-caret-down icon-color-good"></i></span>
										<ul class="smaller-stat hidden-sm pull-right">
											<li>
												<span class="label bg-color-blueDark"><i class="fa fa-caret-up"></i> 76%</span>
											</li>
											<li>
												<span class="label bg-color-blue"><i class="fa fa-caret-down"></i> 3%</span>
											</li>
										</ul>
										<!--<div class="sparkline txt-color-blue hidden-sm hidden-md pull-right" data-sparkline-type="line" data-sparkline-height="33px" data-sparkline-width="70px" data-fill-color="transparent">-->
											<!--257, 200, 210, 300, 270, 363, 130, 187, 250, 247, 270, 363, 247-->
										<!--</div>-->
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
										<div class="easy-pie-chart txt-color-blue" data-percent="65" data-pie-size="50">
											<span class="percent percent-sign">65 </span>
										</div>
										<span class="easy-pie-title"> Near/Incidents </span>
										<ul class="smaller-stat hidden-sm pull-right">
											<li>
												<span class="label bg-color-darken">130</span>
											</li>
											<li>
												<span class="label bg-color-blueDark">200</span>
											</li>
										</ul>
										<!--<div class="sparkline txt-color-darken hidden-sm hidden-md pull-right" data-sparkline-type="line" data-sparkline-height="33px" data-sparkline-width="70px" data-fill-color="transparent">-->
											<!--200, 210, 363, 247, 300, 270, 130, 187, 250, 257, 363, 247, 270-->
										<!--</div>-->
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
										<div class="easy-pie-chart txt-color-darken" data-percent="93" data-pie-size="50">
											<span class="percent percent-sign">93 </span>
										</div>
										<span class="easy-pie-title"> Osha Rating </span>
										<ul class="smaller-stat hidden-sm pull-right">
											<li>
												<span class="label bg-color-red"> 124</span>
											</li>
											<li>
												<span class="label bg-color-blue"> 40 </span>
											</li>
										</ul>
										<!--<div class="sparkline txt-color-red hidden-sm hidden-md pull-right" data-sparkline-type="line" data-sparkline-height="33px" data-sparkline-width="70px" data-fill-color="transparent">-->
											<!--2700, 3631, 2471, 2700, 3631, 2471, 1300, 1877, 2500, 2577, 2000, 2100, 3000-->
										<!--</div>-->
									</div>
								</div>

							</div>
							<!-- end s1 tab pane -->

							<div class="tab-pane fade" id="s2">
								<div class="widget-body-toolbar bg-color-white">

									<form class="form-inline" role="form">

										<div class="form-group">
											<label class="sr-only" for="s123">Show From</label>
											<input type="email" class="form-control input-sm" id="s123" placeholder="Show From">
										</div>
										<div class="form-group">
											<input type="email" class="form-control input-sm" id="s124" placeholder="To">
										</div>

										<!--<div class="btn-group hidden-phone pull-right">-->
                                            <!--<span class="show-stat-buttons"> <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <a href="javascript:void(0);" class="btn btn-default btn-block hidden-xs">Generate PDF</a> </span> </span>-->
                                        <!--</div>-->

									</form>

								</div>
								<div class="padding-10">
									<div id="sq-chart" class="chart-large has-legend-unique"></div>
								</div>

							</div>
							<!-- end s2 tab pane -->

							<div class="tab-pane fade" id="s3">

								<div class="widget-body-toolbar bg-color-white smart-form" id="rev-toggles">

									<div class="inline-group">

										<label for="gra-0" class="checkbox">
											<input type="checkbox" name="gra-0" id="gra-0" checked="checked">
											<i></i> Target </label>
										<label for="gra-1" class="checkbox">
											<input type="checkbox" name="gra-1" id="gra-1" checked="checked">
											<i></i> Actual </label>
										<label for="gra-2" class="checkbox">
											<input type="checkbox" name="gra-2" id="gra-2" checked="checked">
											<i></i> Signups </label>
									</div>

									<div class="btn-group hidden-phone pull-right">
										<a class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown"><i class="fa fa-cog"></i> More <span class="caret"> </span> </a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="javascript:void(0);"><i class="fa fa-file-text-alt"></i>2 Export to PDF</a>
											</li>
											<li>
												<a href="javascript:void(0);"><i class="fa fa-question-sign"></i> Help</a>
											</li>
										</ul>
									</div>

								</div>

								<div class="padding-10">
									<div id="flotcontainer" class="chart-large has-legend-unique"></div>
								</div>
							</div>
							<!-- end s3 tab pane -->
						</div>

						<!-- end content -->
					</div>

				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->

		</article>
	</div>

	<!-- end row -->

	<!-- row -->
</div>
	<div class="row">

		<article class="col-sm-12 col-md-12 col-lg-12">

			<!-- new widget -->
			<div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false" ng-controller="MapsController">

				<header>
					<span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
					<h2>Birds Eye</h2>

				</header>

				<!-- widget div-->
				<div>
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<div>
							<label>Title:</label>
							<input type="text" />
						</div>
					</div>
					<!-- end widget edit box -->

					<div class="widget-body no-padding">
						<!-- content goes here -->

						<div id="vector-map" class="vector-map splitRight"></div>

						<!-- table responsive -->
						<div class="table-responsive no-margin splitLeft">
							
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th>Truck</th>
										<th>Location</th>
										<th class="text-align-center">Stages Complete</th>
										<th class="text-align-center hidden-xs">Stages Remaining</th>
										<th class="text-align-center">Notification</th>
									</tr>
								</thead>
								<tbody>
                                    <tr data-ng-repeat="lineItem in lineItems.lineItem" class="cursor-pointer">
                                        <td>{{ lineItem.truck }}</td>
                                        <td>{{ lineItem.location }}</td>
                                        <td class="text-align-center">{{ lineItem.stagesComplete }}</td>
                                        <td class="text-align-center">{{ lineItem.stagesRemaining }}</td>
                                        <td class="text-align-center">{{ lineItem.notification }}</td>
                                    </tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan=5>
										<ul class="pagination pagination-xs no-margin">
											<li class="prev" ng-class="{disabled : incidents.currentStart == 0}">
												<a ng-click="mapIncidentPagination(-1)">Previous</a>
											</li>
											<li class="active" ng-repeat="step in getNumber(incidents.steps) track by $index">
												<a ng-click="mapIncidentPagination($index+1);">{{ $index+1 }}</a>
											</li>
											<li class="next" ng-class="{disabled : incidents.currentStart == incidents.lastStepStart}">
												<a ng-click="mapIncidentPagination(0)">Next</a>
											</li>
										</ul></td>
									</tr>
								</tfoot>
							</table>
							
						</div>
						<!-- end table responsive-->
						
						<!-- end content -->

					</div>

				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->

			<!-- new widget -->
			<!--<div class="jarviswidget jarviswidget-color-blue" id="wid-id-4" data-widget-editbutton="false" data-widget-colorbutton="false">-->

				<!--<!-- widget options:-->
				<!--usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">-->

				<!--data-widget-colorbutton="false"-->
				<!--data-widget-editbutton="false"-->
				<!--data-widget-togglebutton="false"-->
				<!--data-widget-deletebutton="false"-->
				<!--data-widget-fullscreenbutton="false"-->
				<!--data-widget-custombutton="false"-->
				<!--data-widget-collapsed="true"-->
				<!--data-widget-sortable="false"-->

				<!---->

				<!--<header>-->
					<!--<span class="widget-icon"> <i class="fa fa-check txt-color-white"></i> </span>-->
					<!--<h2> ToDo's </h2>-->
					<!--<!-- <div class="widget-toolbar">-->
					<!--add: non-hidden - to disable auto hide-->

					<!--</div>-->
				<!--</header>-->

				<!--<!-- widget div-->
				<!--<div>-->
					<!--<!-- widget edit box -->
					<!--<div class="jarviswidget-editbox">-->
						<!--<div>-->
							<!--<label>Title:</label>-->
							<!--<input type="text" />-->
						<!--</div>-->
					<!--</div>-->
					<!--<!-- end widget edit box -->

					<!--<div class="widget-body no-padding smart-form">-->
						<!--<!-- content goes here -->
						<!--<h5 class="todo-group-title"><i class="fa fa-warning"></i> Critical Tasks (<small class="num-of-tasks">1</small>)</h5>-->
						<!--<ul id="sortable1" class="todo">-->
							<!--<li>-->
								<!--<span class="handle"> <label class="checkbox">-->
										<!--<input type="checkbox" name="checkbox-inline">-->
										<!--<i></i> </label> </span>-->
								<!--<p>-->
									<!--<strong>Ticket #17643</strong> - Hotfix for WebApp interface issue [<a href="javascript:void(0);" class="font-xs">More Details</a>] <span class="text-muted">Sea deep blessed bearing under darkness from God air living isn't. </span>-->
									<!--<span class="date">Jan 1, 2014</span>-->
								<!--</p>-->
							<!--</li>-->
						<!--</ul>-->
						<!--<h5 class="todo-group-title"><i class="fa fa-exclamation"></i> Important Tasks (<small class="num-of-tasks">3</small>)</h5>-->
						<!--<ul id="sortable2" class="todo">-->
							<!--<li>-->
								<!--<span class="handle"> <label class="checkbox">-->
										<!--<input type="checkbox" name="checkbox-inline">-->
										<!--<i></i> </label> </span>-->
								<!--<p>-->
									<!--<strong>Ticket #1347</strong> - Inbox email is being sent twice <small>(bug fix)</small> [<a href="javascript:void(0);" class="font-xs">More Details</a>] <span class="date">Nov 22, 2013</span>-->
								<!--</p>-->
							<!--</li>-->
							<!--<li>-->
								<!--<span class="handle"> <label class="checkbox">-->
										<!--<input type="checkbox" name="checkbox-inline">-->
										<!--<i></i> </label> </span>-->
								<!--<p>-->
									<!--<strong>Ticket #1314</strong> - Call customer support re: Issue <a href="javascript:void(0);" class="font-xs">#6134</a><small> (code review)</small>-->
									<!--<span class="date">Nov 22, 2013</span>-->
								<!--</p>-->
							<!--</li>-->
							<!--<li>-->
								<!--<span class="handle"> <label class="checkbox">-->
										<!--<input type="checkbox" name="checkbox-inline">-->
										<!--<i></i> </label> </span>-->
								<!--<p>-->
									<!--<strong>Ticket #17643</strong> - Hotfix for WebApp interface issue [<a href="javascript:void(0);" class="font-xs">More Details</a>] <span class="text-muted">Sea deep blessed bearing under darkness from God air living isn't. </span>-->
									<!--<span class="date">Jan 1, 2014</span>-->
								<!--</p>-->
							<!--</li>-->
						<!--</ul>-->

						<!--<h5 class="todo-group-title"><i class="fa fa-check"></i> Completed Tasks (<small class="num-of-tasks">1</small>)</h5>-->
						<!--<ul id="sortable3" class="todo">-->
							<!--<li class="complete">-->
								<!--<span class="handle"> <label class="checkbox state-disabled" style="display:none">-->
										<!--<input type="checkbox" name="checkbox-inline" checked="checked" disabled="disabled">-->
										<!--<i></i> </label> </span>-->
								<!--<p>-->
									<!--<strong>Ticket #17643</strong> - Hotfix for WebApp interface issue [<a href="javascript:void(0);" class="font-xs">More Details</a>] <span class="text-muted">Sea deep blessed bearing under darkness from God air living isn't. </span>-->
									<!--<span class="date">Jan 1, 2014</span>-->
								<!--</p>-->
							<!--</li>-->
						<!--</ul>-->

						<!--<!-- end content -->
					<!--</div>-->

				<!--</div>-->
				<!--<!-- end widget div -->
			<!--</div>-->
			<!-- end widget -->

		</article>

	</div>

	<!-- end row -->

</section>
<!-- end widget grid -->


<script type="text/javascript">
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();
	
	/*
	 * PAGE RELATED SCRIPTS
	 */

	// pagefunction
	
	var pagefunction = function() {
			
		$(".js-status-update a").click(function () {
		    var selText = $(this).text();
		    var $this = $(this);
		    $this.parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
		    $this.parents('.dropdown-menu').find('li').removeClass('active');
		    $this.parent().addClass('active');
		});
		
		/*
		 * TODO: add a way to add more todo's to list
		 */
		
		// initialize sortable
		
	    $("#sortable1, #sortable2").sortable({
	        handle: '.handle',
	        connectWith: ".todo",
	        update: countTasks
	    }).disableSelection();
		
		
		// check and uncheck
		$('.todo .checkbox > input[type="checkbox"]').click(function () {
		    var $this = $(this).parent().parent().parent();
		
		    if ($(this).prop('checked')) {
		        $this.addClass("complete");
		
		        // remove this if you want to undo a check list once checked
		        //$(this).attr("disabled", true);
		        $(this).parent().hide();
		
		        // once clicked - add class, copy to memory then remove and add to sortable3
		        $this.slideUp(500, function () {
		            $this.clone().prependTo("#sortable3").effect("highlight", {}, 800);
		            $this.remove();
		            countTasks();
		        });
		    } else {
		        // insert undo code here...
		    }
		
		})
		// count tasks
		function countTasks() {
		
		    $('.todo-group-title').each(function () {
		        var $this = $(this);
		        $this.find(".num-of-tasks").text($this.next().find("li").size());
		    });
		
		}
		


	};
	
	// end pagefunction
	
	// run pagefunction on load
	pagefunction();
	
	
</script>

