<form class="form-horizontal">

    <fieldset>
        <legend>Report Details</legend>
        <div class="form-group">
            <label class="col-md-2 control-label">Reporter</label>
            <div class="col-md-4">
                <input class="form-control" type="text" ng-model="incident.reporter">
            </div>
            <label class="col-md-2 control-label">Well</label>
            <div class="col-md-4">
                <input class="form-control" type="text" list="wellList" ng-model="incident.well_name">
                <datalist id="wellList">
                    <option value="Bearded Ben's Well">Bearded Ben's Well</option>
                    <option value="Chachi's Well">Chachi's Well</option>
                    <option value="Enlai's Well">Enlai's Well</option>
                    <option value="Joe's Well">Joe's Well</option>
                    <option value="Junior Ben's Well">Junior Ben's Well</option>
                    <option value="Rachel's Well">Rachel's Well</option>
                    <option value="Shaun's Well">Shaun's Well</option>
                </datalist>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Date of Incident</label>
            <div class="col-md-4">
                <input class="form-control" type="text" ng-model="incident.incident_date">
            </div>
            <label class="col-md-2 control-label">Client</label>
            <div class="col-md-4">
                <input class="form-control" type="text" ng-model="incident.client_representative">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Time of Incident</label>
            <div class="col-md-4">
                <input class="form-control" type="text" ng-model="incident.incident_time">
            </div>
            <label class="col-md-2 control-label">Truck Number</label>
            <div class="col-md-4">
                <input class="form-control" type="text" ng-model="incident.truck_number" />
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Incident Details</legend>
        <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="checkbox">
                    <label class="col-md-5"><input type="checkbox">Unintentional parting of cable/weakpoint</label>
                    <label class="col-md-5"><input type="checkbox">Vehicle accident</label>
                </div>
                <div class="checkbox">
                    <label class="col-md-5"><input type="checkbox">Refund or additional discount applied to ticket</label>
                    <label class="col-md-5"><input type="checkbox">Injury to Horizontal Wireline Services personnel</label>
                </div>
                <div class="checkbox">
                    <label class="col-md-5"><input type="checkbox">Off-depth perforation</label>
                    <label class="col-md-5"><input type="checkbox">Injury to third party personnel</label>
                </div>
                <div class="checkbox">
                    <label class="col-md-5"><input type="checkbox">Damage to equipment or tools</label>
                    <label class="col-md-5"><input type="checkbox">Oil spill or similar environmental event</label>
                </div>
                <div class="checkbox">
                    <label class="col-md-5"><input type="checkbox">Lost time > 3 hours</label>
                    <label class="col-md-5"><input type="checkbox">Incident involving use of radioactive materials</label>
                </div>
                <div class="checkbox">
                    <label class="col-md-5"><input type="checkbox">Misrun/misfire with gun or setting tool</label>
                    <label class="col-md-5"><input type="checkbox">Incident involving use of explosives</label>
                </div>
                <div class="checkbox">
                    <label class="col-md-5"><input type="checkbox">Fishing any toolstring</label>
                </div>
                <div class="checkbox">
                    <label class="col-md-5"><input type="checkbox">Incident resulting in subsequent run</label>
                    <label class="col-md-5"><input type="checkbox">Other</label>
                </div>
            </div>
        </div>

    </fieldset>

    <fieldset>
        <legend>Incident Description</legend>
        <div class="form-group">
            <label class="col-md-2 control-label">Operations involved?</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="3" ng-model="incident.description.operations_involved"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">What happened?</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="3" ng-model="incident.description.what_happened"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Results or damages?</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="3" ng-model="incident.description.result"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">What was the cause?</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="3" ng-model="incident.description.cause"></textarea>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Actions Taken</legend>

        <div class="form-group">
            <label class="col-md-2 control-label">Actions Taken</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="3" ng-model="incident.action_taken"></textarea>
            </div>
        </div>

    </fieldset>

    <fieldset>
        <legend>Further Actions</legend>

        <div class="form-group">
            <label class="col-md-2 control-label">Further Taken</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="3"></textarea>
            </div>
        </div>

    </fieldset>


    <div class="form-actions">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" disabled="disabled" type="submit">
                    <i class="fa fa-save"></i>
                    Save
                </button>
                <button class="btn btn-default" disabled="disabled" type="submit">
                    Close this Incident
                </button>
            </div>
        </div>
    </div>

</form>