
        <form class="form-horizontal">
            <fieldset>
                <legend>Job Details</legend>
                <div class="form-group">
                    <label class="col-md-2 control-label">Well Name</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" ng-model="job.wellName">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Customer</label>
                    <div class="col-md-4">
                        <input class="form-control" type="text" ng-model="job.client">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Number of Stages</label>
                    <div class="col-md-4">
                        <input  number-spinner class="form-control-spinedit"  type="text" ng-model="job.numberOfStages">
                    </div>
                </div>
            </fieldset>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary" disabled="disabled" type="submit">
                            <i class="fa fa-save"></i>
                            Save Job
                        </button>
                        <button class="btn btn-default" disabled="disabled" type="submit">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>
