<section id="widget-grid" class="">
    <!-- row -->
    <div class="row" data-ng-controller="IncidentController">
        <!-- NEW WIDGET START -->
        <article class="col-sm-12 col-md-12 col-lg-12">
            TEST
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->