<!-- User info -->
			<div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as is --> 
					
					<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
						<img src="img/avatars/sunny.png" alt="me" class="online" /> 
						<span data-localize="john.doe">
							john.doe 
						</span>
						<i class="fa fa-angle-down"></i>
					</a> 
					
				</span>
			</div>
			<!-- end user info -->

			<!-- NAVIGATION : This navigation is also responsive

			To make this navigation dynamic please make sure to link the node
			(the reference to the nav > ul) after page load. Or the navigation
			will not initialize.
			-->

			<navigation>
				<nav:item data-view="/dashboard" data-icon="fa fa-lg fa-fw fa-home" title="Dashboard" />
                <nav:group data-icon="fa fa-lg fa-fw fa-exclamation" title="Incidents" >
                    <nav:item data-view="/incidents/add-incident" title="Add an Incident" />
                    <nav:item data-view="/incidents/update-incident"  title="Update an Incident" />
                    <nav:item data-view="/incidents/search-incidents"  title="Search Incidents" />
                </nav:group>
                <nav:group data-icon="fa fa-lg fa-fw fa-folder" title="Jobs" >
                    <nav:item data-view="/jobs/add-job" title="Add a Job" />
                    <nav:item data-view="/jobs/update-job" title="Update a Job" />
                </nav:group>
                <nav:group data-icon="fa fa-lg fa-fw fa-users" title="User Management" >
                    <nav:item  title="User Permissions" />
                    <nav:item  title="User Intake" />
                </nav:group>

			</navigation>
			<span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>